#concerts
  - if current_employee.promoter.concerts.empty?
    %h4 There are currently no concerts.
  - else
    %ul= render partial: "employees/concert", collection: current_employee.promoter.concerts.order(date: :asc)