%li.concert-item.item
  %ul
    =link_to employee_concert_path(concert) do
      %li.concert-date= concert.date.strftime('%m/%d/%Y')
      %li.concert-headliner= concert.headliner
      %li.concert-venue= concert.venue.name
    - if concert.employee
      %li.concert-employee= concert.employee.first_name
    - else
      %li.concert-employee Not Assigned

