#welcome
  %h1 RUN SHOW!
  #welcome-container
    #buttons
      = link_to "Sign Up As A Promoter", new_promoter_registration_path, class: "button"
    #buttons
      = link_to "Promoter Sign In", promoter_session_path, class: "button"
    #buttons
      = link_to "Employee Sign In", employee_session_path, class: "button"