%ul.income-item
  %li.income-name= income.name
  %li.income-expected= income.expected_revenue
  %li.income-actual
    =simple_form_for income, method: :patch, url: concert_income_path(income.concert, income), remote: true do |f|
      = f.input :actual_cost, required: true, label: false, as: :string, placeholder: income.actual_cost
      = f.submit "Update", class: "button-link"
  %li.income-diff