%a(href="#income-category#{income_category.id}")
  %ul 
    %li.income-name= income_category.name
    %li.income-expected 0
    %li.income-actual
    %li.income-diff
%div(id="income-category#{income_category.id}" class="content")
  %ul.item-container= render partial: 'incomes/income', collection:income_category.incomes.where('concert_id = ?', @concert.id)