- if promoter_signed_in?
  #incomes-list
    - if @concert.income_categories.empty?
      %h4 There are currently no incomes.
    - else
      = render 'expenses/header'
      %dl.accordion(data-accordion)
        %dd.accordion-navigation.income-category= render partial: 'incomes/income_category', collection: @concert.income_categories
- else employee_signed_in?
  = render 'employees/incomes'