= render 'layouts/header'

#dashboard
  #venue-left-column
    #venue-container
      = render 'venues/stats'

  #venue-concerts
    #section-header
      %h3 This Week's Concerts
    .section-container
      = render 'venues/concerts'
