#add-employee-form
  %h3 Add Employee
  = simple_form_for @employee, :as => @employee, :url => invitation_path(@employee), remote: true, :html => {:method => :post} do |f|
    -# = devise_error_messages!
    - @employee.class.invite_key_fields.each do |field|
      = f.input field
    = f.submit "Add Employee"
  %button.cancel-employee-form Cancel
