#add-income-category-form
  %h3 Add Expense Category

  = simple_form_for @income_category, remote: true do |f|
    = f.error_notification
    .form-inputs
      = f.input :name, required: true, autofocus: true
    .form-actions
      = f.button :submit, "Save"
      %button#cancel-income-category-form.cancel