/*
***********************
* =structure
***********************
*/

#finances {
  @include grid-row();
  h4 { color: $primary-color; text-align: center }
}

#expense-column, #incomes-column {
  @include grid-column(6);
} 

/*
***********************
* =summary
***********************
*/

#concert-summary {
  @include grid-row();
  @include grid-column($columns: 12, $center: true);
  h5, h2, h3, h4, h6, p { 
    color: $primary-color;
    margin: 0;
  }
  h6 {
    font-weight: bold;
  }
  border: 4px solid $primary-color;
  border-radius: 7px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#concert-container {
  @include grid-column(5);
  border-right: 2px solid $primary-color;
  .form-actions { text-align: right }
}

#concert-info {
  div { padding: 0 }
}

#concert-update p {
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

#concert-assign, #concert-update {
  margin: 0;
  padding: 0 !important;
}

#concert-assign p {
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

/*
***********************
* =finances
***********************
*/

#finances {
  ul.expense-item, ul.income-item { 
    border-bottom: 1px solid #7eb7e1;
    padding-top: 5px;
    padding-bottom: 5px;
    li { vertical-align: middle }
  }
  ul.item-container ul:last-child { border: none }
  li {
    display: inline-block; 
    @include grid-column(2.5);
  }
  .expense-name, .income-name {
    @include grid-column(4);
  }
  li { float: none }
}

.finance-header {
  @include grid-column(12);
  background-color: $primary-color;
  color: $secondary-color;
  font-weight: bold;
  li { 
    float: none; 
  }
}

/*
***********************
* =expenses
***********************
*/

#add-expense-form {
  display: inline-block;
  .input { @include grid-column($columns: 6) }
  .expense_viewable_by_employee label {
    font-size: $h5-font-size;
    margin-top: 22px
  }
  .form-actions { 
    @include grid-column($columns: 12);
    text-align: right; 
  }
}

#expense_actual_cost, #income_actual_cost {
  @include grid-column($columns: 6);
  padding: 0;
  margin-bottom: 0;
  height: 30px;
}

.button-link {
  @include grid-column($columns: 6);
  background: none; 
  border: none;  
  color: $primary-color;
  text-align: left;
  padding: 0;
  float: none;
  height: 25px;
}

/*
***********************
* =incomes
***********************
*/

#add-income-form {
  display: inline-block;
  .input { @include grid-column($columns: 6) }
  .income_viewable_by_employee label {
    font-size: $h5-font-size;
    margin-top: 22px
  }
  .form-actions { 
    @include grid-column($columns: 12);
    text-align: right; 
  }
}