/*
***********************
* =structure
***********************
*/

#dashboard {
  @include grid-row();
  @include grid-column($columns: 12, $center: true);
  div { padding: 1% }
}

#left-column {
  @include grid-column($columns: 2.5);
}

#middle-column {
  @include grid-column($columns: 6.5);
}

#right-column {
  @include grid-column($columns: 3);
}

/*
***********************
* =concerts
***********************
*/

#this-weeks-concerts {
  margin-bottom: 10px;
}

.concert-item:hover {
  background-color: darken($secondary-color, 6%);
}

.concert-date {
  @include grid-column($columns: 1.75);
  padding: 0;
}

.concert-headliner {
  @include grid-column($columns: 5.5);
}

.concert-venue {
  @include grid-column($columns: 3);
}

.concert-employee {
  @include grid-column($columns: 1.75);
}

.assign { 
  @extend .button;
  padding: rem-calc(10);
  float: none;
  margin: 0;
  font-size: $button-font-med;
}

.assign-employee-form {
  @include grid-column($columns: 12);
  display: none;
  float: none;
  .form-inputs { 
    @include grid-column($columns: 6);
    margin-top: -13px;
  }
  .form-actions { 
    @include grid-column($columns: 6);
    text-align: right;
  }
}

#add-concert-form {
  display: inline-block;
  .concert_headliner { @include grid-column($columns: 6) }
  .concert_date { 
    @include grid-column($columns: 6);
    #concert_date_1i { @include grid-column($columns: 3.5) }
    #concert_date_2i { @include grid-column($columns: 6) }
    #concert_date_3i { @include grid-column($columns: 2.5) } 
  }
  .concert_venue { @include grid-column($columns: 12) }
  .form-actions { 
    @include grid-column($columns: 12);
    text-align: right; 
  }
}

/*
***********************
* =employees
***********************
*/

#employees {
  margin-bottom: 10px;
}

#add-employee-form {
  .form-actions { text-align: right }
}


/*
***********************
* =venues
***********************
*/

.venue_city {
  @include grid-column(8);
}

.venue_state {
  @include grid-column(3.5);
}

#add-venue-form {
  .form-actions { text-align: right }
}

/*
***********************
* =other
***********************
*/

#photo {
  width: 100%;
  img {
    width: 100%;
  }
}

