%a(href="#expense-category#{expense_category.id}")
  %ul 
    %li.expense-name= expense_category.name
    %li.expense-expected 0
    %li.expense-actual
    %li.expense-diff
%div(id="expense-category#{expense_category.id}" class="content")
  %ul.item-container= render partial: 'expenses/expense', collection:expense_category.expenses.where('concert_id = ?', @concert.id)