%ul.expense-item
  %li.expense-name= expense.name
  %li.expense-expected= expense.expected_cost
  %li.expense-actual
    =simple_form_for expense, method: :patch, url: concert_expense_path(expense.concert, expense), remote: true do |f|
      = f.input :actual_cost, required: true, label: false, as: :string, placeholder: expense.actual_cost
      = f.submit "Update", class: "button-link"
  %li.expense-diff