#header
  =link_to "Sign out", destroy_promoter_session_path, :method => 'delete'

#dashboard
  #photo
    =image_tag current_promoter.image
  #concerts  
    #section-header
      #upcoming-concerts
        %h3 Upcoming Concerts
        =link_to "Add", new_concert_path, class: 'add-button', remote: true
    #concerts-container.section-container
      = render 'concerts/index'

  #employees
    #section-header
      %h3 Employees
      =link_to "Add",new_employee_invitation_path, class: 'add-button', remote: true
    #employees-container.section-container
      = render 'employees/invites'

  #venues
    #section-header
      %h3 Venue
      =link_to "Add", new_venue_path, class: 'add-button', remote: true
    #venues-container.section-container
      = render 'venues/index'

