= render 'layouts/header'

%h1 Finances

#expenses
  =link_to "Add Expense Category", new_expense_category_path, class: 'button', remote: true
  = render 'expense_categories/index'

#incomes
  =link_to "Add Income Category", new_income_category_path, class: 'button', remote: true
  = render 'income_categories/index'